<main>
  <h1>List of Users</h1>
  <ul>
    <% @users.each do |user| %>
      <li>
        <a href='http://127.0.0.1:3000/users/<%= user.id %>'><%= user.name %></a>
        <p>Number of posts: <%= user.posts_counter%></p>
        <hr>
      </li>
    <% end %>
  </ul>
</main>
