<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is User index</title>
  </head>
  <body>
    <main>
      <ul>
        <li>
          <h2>User Name</h2>
          <p>Number of post: X</p>
        </li>
        <li>
          <h2>User Name</h2>
          <p>Number of post: X</p>
        </li>
        <li>
          <h2>User Name</h2>
          <p>Number of post: X</p>
        </li>
        <li>
          <h2>User Name</h2>
          <p>Number of post: X</p>
        </li>
        <li>
          <h2>User Name</h2>
          <p>Number of post: X</p>
        </li>
      </ul>
    </main>
  </body>
</html>