<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is User show</title>
  </head>
  <body>
    <main>
      <header>
        <h1>User name</h1>
        <p>Number od posts: X</p>
        <hr>
      </header>
      <section>
        <h3>Bio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore hic aut quas quaerat. 
          Eum maxime, incidunt ipsum molestias distinctio quos, natus, accusamus quia voluptatum consequuntur sint totam iusto repellat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore hic aut quas quaerat. 
          Eum maxime, incidunt ipsum molestias distinctio quos, natus, accusamus quia voluptatum consequuntur sint totam iusto repellat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore hic aut quas quaerat. 
          Eum maxime, incidunt ipsum molestias distinctio quos, natus, accusamus quia voluptatum consequuntur sint totam iusto repellat.         
          </p>
          <hr>
        <ul>
          <li>
            <h3>Post #1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <hr>
          </li>
          <li>
            <h3>Post #2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <hr>
          </li>
          <li>
            <h3>Post #3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <hr>
          </li>
          <li>
            <h3>Post #4</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <hr>
          </li>
        </ul>  
      </section>
    </main>
  </body>
</html>
