<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is Post index</title>
  </head>
  <body>
    <main>
      <header>
        <h1>User Name</h1>
        <p>Number of Post: X</p>
        <hr>
      </header>
      <section>
        <ul>
          <li>
            <h3>Post #1</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              expedita tenetur velit nemo deleniti natus dist...
            </p>
            <ul>
              <li>
                <p>Username: Comment 1</p>
              </li>
              <li>
                <p>Username: Comment 2</p>
              </li>
              <li>
                <p>Username: Comment 3</p>
              </li>
              <li>
                <p>Username: Comment 4</p>
              </li>
            </ul>   
            <hr>         
          </li>
          <li>
            <h3>Post #2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              expedita tenetur velit nemo deleniti natus dist...
            </p>
            <ul>
              <li>
                <p>Username: Comment 1</p>
              </li>
              <li>
                <p>Username: Comment 2</p>
              </li>
              <li>
                <p>Username: Comment 3</p>
              </li>
              <li>
                <p>Username: Comment 4</p>
              </li>
            </ul>
            <hr>
          </li>
          <li>
            <h3>Post #3</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              expedita tenetur velit nemo deleniti natus dist...
            </p>
            <ul>
              <li>
                <p>Username: Comment 1</p>
              </li>
              <li>
                <p>Username: Comment 2</p>
              </li>
              <li>
                <p>Username: Comment 3</p>
              </li>
              <li>
                <p>Username: Comment 4</p>
              </li>
            </ul>
            <hr>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
